#content {
    padding-bottom: 44px;
}
#content .postitle {
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    border-bottom: 1px solid #e8e8e8;
}
#content .postitle .title {
    color: #333;
    font-size: 1.8rem;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
#content .postitle .collicon {
    float: right;
    width: 56px;
    position: relative;
    text-align: center;
    padding: 6px 10px 0 10px;
    height: 43px;
}
#content .postitle .icon {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -150px -41px;
    background-size: 250px 250px;
}
#content .postitle .notcoll {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -170px -41px;
    background-size: 250px 250px;
}

#content .postitle .text {
    display: block;
    color: #888;
    font-size: 1.1rem;
    line-height: 30px;
}
#content .detail {
    border-bottom: 1px solid #e8e8e8;
    min-height: 10px;
    padding: 15px;
}
#content .detail .item {
    float: left;
    color: #333;
    font-size: 1.4rem;
    position: relative;
    width: 33.33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 11px;
}
#content .detail .salary .icon {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -66px -48px;
    background-size: 250px 250px;
}
#content .detail .icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    vertical-align: middle;
}
#content .detail .text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
#content .detail .item:nth-child( 3n - 1) {
    text-align: center;
}
#content .detail .item:nth-child( 3n) {
    text-align: right;
}
#content .detail .workaddress .icon {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -79px -49px;
    background-size: 250px 250px;
}
#content .detail .jobnature .icon {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -93px -49px;
    background-size: 250px 250px;
}
#content .detail .workyear .icon {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -110.5px -49.5px;
    background-size: 250px 250px;
}#content .detail .education .icon {
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -127.5px -49px;
    background-size: 250px 250px;
}
#content .detail .items:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#content .detail .temptation {
    color: #888;
    word-break: break-all;
    font-size: 1.3rem;
}
#content .company {
    border-bottom: 1px solid #e8e8e8;
    min-height: 10px;
    padding: 15px;
}
#content .company .logo {
    width: 60px;
    height: 60px;
    float: left;
}
#content .company .desc {
    margin-left: 70px;
    min-height: 10px;
}
#content .company .dleft {
    float: left;
    min-height: 10px;
    min-width: 10px;
    max-width: 80%;
}
#content .company .dleft .title {
    color: #00b38a;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
#content .company .dleft .info {
    color: #888;
    font-size: 1.2rem;
}
#content .company .dright {
    float: right;
    display: inline-block;
    width: 23px;
    height: 29px;
    background: url(/images/mobile/asset/common/img/icon.png) no-repeat -222.5px -3.5px;
    background-size: 250px 250px;
    margin-top: 10px;
}
#content .company .desc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#content .company:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content .positiondesc {
    min-height: 10px;
}
#content .positiondesc .header {
    background-color: #00b38a;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    color: #00b38a;
    font-size: 1.4rem;
    background-color: #d2f9f0;
    padding:0;
}
#content .positiondesc .content {
    word-break: break-all;
    padding: 15px;
    color: #555;
    font-size: 1.2rem;
    line-height: 22px;
}

#content .positioneval .eval-title {
    background-color: #00b38a;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    color: #00b38a;
    font-size: 1.4rem;
    background-color: #d2f9f0;
}
#content .positioneval .list-item {
    padding: 15px;
    padding-bottom: 14px;
    border-bottom: none;
}
#content .positioneval .eval-all {
    display: block;
    color: #00b38a;
    font-size: 1.5rem;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 12px;
}
#content .deliver {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #00b38a;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
