.lbutton span {
    display: inline-block;
}
.linputer {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    height: 45px;
}
.lbutton {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    text-align: center;
    width: 88px;
    border-right: 1px solid #e8e8e8;
}
.lbutton .cityicon {
    width: 8.5px;
    height: 7px;
    background: url(//m.lagou.com/images/mobile/asset/common/img/icon.png) no-repeat -1px -2.5px;
    background-size: 250px 250px;
}
.rinput {
    height: 45px;
    margin-left: 89px;
    position: relative;
}
.rinput .inputer {
    display: block;
    border: none;
    padding: 10px 0;
    height: 44px;
    line-height: 25px;
    color: #333;
    width: 75%;
    margin: 0 0 0 5%;
    font-size: 1.5rem;
    float: left;
}
.rinput .search {
    display: inline-block;
    width: 20%;
    height: 45px;
    line-height: 45px;
    float: right;
    position: relative;
}
.rinput .search .searchicon {
    display: block;
    margin: 14px auto 0 auto;
    width: 17px;
    height: 17px;
    background: url(//m.lagou.com/images/mobile/asset/common/img/icon.png) no-repeat -14px -2.5px;
    background-size: 250px 250px;
}

.list-more {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #fafafa;
    padding:0;
}
.search-ul{
    padding-bottom: 45px;
}